body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

#root .weather_data {
  background-color: plum;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 10px auto;
}

.weather_data h1 {
  font-size: 35px;
  text-align: center;
  background-color: lightgrey;
  border-radius: 10px;
  width: 100%;
  padding: 5px;
}

.weather_data p {
  font-size: 20px;

}

#root .list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: honeydew;
  padding: 10px;

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
